<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>案例2(作息表)</title>
</head>
<body>
<div ng-controller="myCtrl">
   <h1>what To Do?</h1>
    <p><input type="text" ng-model="task"></p>
    <p><button ng-click="addTasks()">ADD Task</button></p>
    <p>To Do List</p>
    <ul type="none">
        <li ng-repeat="item in tasks track by $index">{{$index+1}}.{{item}}
            ......<a href="##" ng-click="tasks.splice($index,1)" style="color:red" >&times;</a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="js/angular.js"></script>
<script>
    var app=angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.task='';
        $scope.tasks=[];
        $scope.addTasks=function(){
            if($scope.task){
                $scope.tasks.push($scope.task);
                $scope.task='';
            }
        }
    });
</script>
</body>
</html>