<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>双向数据绑定</title>
</head>
<body>
    <h1>双向数据绑定</h1>
    <div ng-controller="myCtrl">
       单价: <input type="text" ng-model="price">
       数量: <input type="text" ng-model="count">
       总价:  {{sum}}
    </div>
<script type="text/javascript" src="js/angular.js"></script>

<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope){
        $scope.price=0;
        $scope.count=0;
        $scope.sum=$scope.price*$scope.count;
        //监测model中数据是否改变
        $scope.$watch('price',function(newVal,oldVal){
            console.log('price的值改变了:'+$scope.price);
            console.log('count的值改变了:'+oldVal);
            console.log('price的新值为:'+newVal);
        });
        $scope.$watch('count',function(newVal){
            $scope.sum=$scope.price*newVal;
        })
    });
</script>
</body>
</html>